@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/food/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 5px;
}

.gourmet {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.gourmet img {
  width: 500px;
  height: 300px;
}

.gourmet-text {
  max-width: 500px;
  margin-right: 40px;
}

.reverse {
  flex-direction: row-reverse;
}

.reverse .gourmet-text {
  margin-left: 40px;
  margin-right: 0;
}

.gourmet-text h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.gourmet-text h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.gourmet-text p {
  font-size: 15px;
  line-height: 28px;
  margin-top: 25px;
}

.footer {
  margin-top: 100px;
}

@media (max-width: 800px) {
  .gourmet {
    display: block;
    width: 500px;
    margin-top: 45px;
  }

  .gourmet-text {
    margin-right: 0;
  }

  .reverse .gourmet-text {
    margin-left: 0;
  }

  .gourmet img {
    width: 100%;
    height: auto;
    margin-top: 25px;
  }
}